
  <div class="container" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel">
      <div class="col-md-4"> 
          <img src="{{bookDetails.imageUrl}}" class="img-thumbnail" />
      </div>
          <div class="col-md-8  col-xs-12">
              <div class="header">
                  <h1>{{bookDetails.title}}</h1>
                  <h4>Book Description</h4>
                  <span>{{bookDetails.description}}</span>
<br><hr>
                  <ul class="list-group">
                      <li class="list-group-item active"> Book Details</li>
                      <li class="list-group-item"><span class="glyphicon glyphicon-user"></span> Author:    <b>{{bookDetails.author}}</b></li>
                      <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Date Added:    <b>{{bookDetails.dateadded}}</b></li>
                      <li class="list-group-item"><span class="glyphicon glyphicon-calendar"></span> Date Read:     <b>{{bookDetails.dateread}}</b></li>
                      <li class="list-group-item"><span>$</span> Price:       <b>{{bookDetails.price}}</b></li>
                      <li class="list-group-item"><span class="glyphicon glyphicon-star"></span> Rate:    <b>{{bookDetails.rate}}</b></li>
                  </ul>
              </div>

                <div class="btn-group pull-right" role="group" aria-label="Basic example">
                   <a [routerLink]="['/books']" class="btn btn-default"> All Books </a>
                   <a [routerLink]="['/edit-book/'+id]" class="btn btn-success"> <span class="glyphicon glyphicon-pencil"></span> Edit </a> 
                   <a [routerLink]="['/delete-book/'+id]" class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span> Delete </a>
                </div>
          </div>
      </div>   
  </div>