<md-toolbar> Book Details </md-toolbar>

<div *ngIf="!title" class="spinner"> 
     <md-spinner></md-spinner>
</div>

<div class="details-book" *ngIf="title">
        <md-card>
                <md-card-title>
                        <span class="md-headline">{{title}}</span>
                </md-card-title>
                <md-card-content>
                    <div class="left">
                            <img src="{{imageUrl}}" />
                    </div>
                    <div class="right">
                        <md-list>
                                <md-list-item> <i class="material-icons">person_pin</i> Author:&nbsp;&nbsp;<b> {{author}}</b> </md-list-item>
                                <md-list-item> <i class="material-icons">date_range</i> Date Added:&nbsp;&nbsp;<b> {{dateadded}}</b> </md-list-item>
                                <md-list-item *ngIf="dateread"> <i class="material-icons">date_range</i> Date Read:&nbsp;&nbsp;<b> {{dateread}}</b> </md-list-item>
                                <md-list-item> <i class="material-icons">attach_money</i> Price:&nbsp;&nbsp;<b> {{price}}</b></md-list-item>
                                <md-list-item *ngIf="rate"> <i class="material-icons">star</i> Rate:&nbsp;&nbsp;<b>{{rate}}</b></md-list-item>
                        </md-list>
                    </div>
                    <hr>
                    <md-toolbar>Description</md-toolbar>
                    {{description}}
                    <p *ngIf="!description"> No description for this book! </p>
                </md-card-content>
                <md-card-actions>
                    <button [routerLink]="['/books']" md-raised-button> <i class="material-icons">view_module</i> All Books </button>
                    <button [routerLink]="['/edit-book/'+id]"  md-raised-button class="editButton"> <i class="material-icons">mode_edit</i> Edit </button> 
                    <button [routerLink]="['/delete-book/'+id]" md-raised-button color="warn"> <i class="material-icons">delete_sweep</i> Delete </button>
                </md-card-actions>
            </md-card>
</div>
            


