<md-card>Book Details</md-card>

<div class="details-book">
        <md-card>
                <md-card-title>
                        <span class="md-headline">{{title}}</span>
                </md-card-title>
                <md-card-content>
                    <div class="left">
                            <img src="{{imageUrl}}" />
                    </div>
                    <div class="right">
                        <md-list>
                                <md-list-item> <i class="material-icons">person_pin</i> Author: <b>{{author}}</b> </md-list-item>
                                <md-list-item> <i class="material-icons">date_range</i> Date Added: <b>{{dateadded}}</b> </md-list-item>
                                <md-list-item> <i class="material-icons">date_range</i> Date Read: <b>{{dateread}}</b> </md-list-item>
                                <md-list-item> <i class="material-icons">star</i> Rate: <b>{{rate}}</b></md-list-item>
                        </md-list>
                    </div>
                    <hr>
                    <md-toolbar>Description</md-toolbar>
                    {{description}}
                </md-card-content>
                <hr>
                <md-card-actions>
                    <button [routerLink]="['/books']" md-raised-button> <i class="material-icons">view_module</i> All Books </button>
                    <button [routerLink]="['/edit-book/'+id]" md-raised-button color="primary"> <i class="material-icons">mode_edit</i> Edit </button> 
                    <button [routerLink]="['/delete-book/'+id]" md-raised-button color="warn"> <i class="material-icons">delete_sweep</i> Delete </button>
                </md-card-actions>
            </md-card>
</div>
            


