<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Book Notes</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['/']">Home</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a [routerLink]="['/books/Programming']">Programming</a></li>
              <li><a [routerLink]="['/books/Drama']">Drama</a></li>
              <li><a [routerLink]="['/books/Biographies']">Biographies</a></li>
              <li><a [routerLink]="['/books/Other']">Other</a></li>
              <li role="separator" class="divider"></li>
              <li><a [routerLink]="['/books']">All Books</a></li>
            </ul>
        </li>
        <li><a [routerLink]="['/add-book']">Add Book</a></li>
      </ul>
    </div>
  </div>
</nav>