<div class="row">
        <div class="col-sm-6 col-md-4" *ngFor="let book of allBooks">
          <div class="thumbnail">
        <img src="{{book.imageUrl}}" alt="{{book.title}}">
        <div class="caption">
            <h3>{{book.title}}</h3>
            <p>
                <a class="btn btn-primary" [routerLink]="['/book/'+book.$key]" >Book Details</a>
                <a class="btn btn-default" [routerLink]="['/edit-book/'+book.$key]">Edit</a>
            </p>
        </div>
        </div>
    </div>
</div>
