
<div class="row">
  <div class="col-md-3 col-sm-12 col-lg-4 bookImages" *ngFor="let book of favoriteBooks">
      <div class="card">
          <img class="card-img-top" class="img-thumbnail" src="{{book.imageUrl}}">
          <div class="card-block">
            <h4 class="card-title">{{book.title}}</h4>
            <a class="btn btn-primary" [routerLink]="['/book/'+book.$key]" >Book Details</a>
            <a class="btn btn-default" [routerLink]="['/edit-book/'+book.$key]">Edit</a>
          </div>
        </div>
  </div>
</div>