<md-card>Add a New Book</md-card>

<br>
<a [routerLink]="['/books']">Back</a>
<br />

<form (submit)="submitAdd()">
  <md-input-container class="full-width">
    <input mdInput placeholder="Book Title" [(ngModel)]="title" name="title">
  </md-input-container>
  <md-input-container class="full-width">
    <input mdInput placeholder="Book Author" [(ngModel)]="author" name="author">
  </md-input-container>
  <md-input-container class="full-width">
    <input mdInput placeholder="Book Price" type="number" [(ngModel)]="price" name="price">
  </md-input-container>

  <table class="full-width" cellspacing="0">
      <tr>
        <td>
            <md-input-container class="full-width">
                <input mdInput [mdDatepicker]="dateadded" placeholder="Date Added " >
                <button mdSuffix [mdDatepickerToggle]="dateadded"></button>
              </md-input-container>
              <md-datepicker #dateadded (selectedChanged)="updateDateAdded($event)"></md-datepicker>
        </td>
        <td>
            <md-input-container class="full-width" >
                <input mdInput [mdDatepicker]="dateread" placeholder="Date Read " >
                <button mdSuffix [mdDatepickerToggle]="dateread"></button>
              </md-input-container>
              <md-datepicker #dateread (selectedChanged)="updateDateRead($event)"></md-datepicker>
        </td>
      </tr>
  </table>

  <div *ngIf="isRead">
      <md-input-container class="full-width">
          <textarea mdInput rows="5" placeholder="Book Description" [(ngModel)]="description" name="description" ></textarea>
        </md-input-container>
    
      <md-input-container class="full-width">
        <input mdInput placeholder="Book Rate (1-5)" min="1" max="5" step="0.1" type="number" [(ngModel)]="rate" name="rate">
      </md-input-container>    
  </div>
  
  <table class="full-width" cellspacing="0">
    <tr>
      <td><md-input-container class="third-width">
          <input mdInput placeholder="Image Url (enter image URL)" [(ngModel)]="imageUrl" name="imageUrl">
      </md-input-container></td>
      <td>
          <md-card class="quarter-width">
              <img src="{{imageUrl}}" alt="{{title}}">
          </md-card>
    </td>
    </tr>
  </table>
  <button md-raised-button value="submit" > Create Book </button>
</form>