/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

li{
    list-style: none;
}

.cardDetails{
    width: 400px;
    padding: 50px;
}

.bookImages{
    min-height: 550px;
    margin-bottom: 50px;
    box-shadow: 0 0 1px black;
}

div.card-block{
    position: absolute;
    bottom: 0;
}

.full-width {
    width: 100%;
}
.half-width {
    width: 50%;
}

.third-width{
    width: 75%;
}
.quarter-width{
    width: 25%;
}


md-grid-tile{
    box-shadow: 10px 10px 5px #888888;
    margin: 1em auto;
}

.full-heigth {
    height: -moz-calc(100% - 64px); 
    height: -webkit-calc(100% - 64px); 
    height: calc(100% - 64px);
}