/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

li{
    list-style: none;
}

.col-md-3{
    width:25%;
    display:inline-block;
}

.cardDetails{
    width: 400px;
    padding: 50px;
}

.bookImages{
    min-height: 550px;
}