<div class="alert alert-info" role="alert"><h3 class="page-header">Edit Book</h3></div>

<a [routerLink]="['/books']">Back</a>
<br />
<form (submit)="submitEdit()">
  <div class="form-group">
    <label>Book title</label>
    <input class="form-control" type="text" [(ngModel)]="title" name="title" required>
  </div>
  <div class="form-group">
    <label>Author </label>
    <input class="form-control" type="text" [(ngModel)]="author" name="author" required>
  </div>
  <div class="form-group">
    <label>Price </label>
    <input class="form-control" min="0" type="number" [(ngModel)]="price" name="price" required>
</div>
  <div class="form-group">
    <label>Date Added</label>
    <input type="date" class="form-control" [(ngModel)]="dateadded" name="dateadded" required>
  </div>
  <div class="form-group">
      <label>Date Read</label>
      <input type="date" class="form-control" [(ngModel)]="dateread" name="dateread">
    </div>
  <div class="form-group" *ngIf="dateread">
    <label>Description </label>
    <textarea class="form-control" rows="5" type="text" [(ngModel)]="description" name="description"></textarea>
  </div>
  <div class="form-group" *ngIf="dateread">
      <label>Rate </label>
      <input class="form-control" type="number" min="1" max="5" step="0.1" [(ngModel)]="rate" name="rate">
  </div>
  <div class="form-group">
    <div class="col-md-8"> 
        <label>Image Url </label>
        <input class="form-control" type="text" [(ngModel)]="imageUrl" name="imageUrl">
    </div>
    <div class="col-md-4"> 
      <label>Image Preview</label>
      <img src="{{imageUrl}}" alt="{{title}}">
    </div>
  </div>
  <input type="submit" value="submit" class="btn btn-success pull-right">
</form>